@import url("styles.css");

/* Estilos específicos para o Blog */

body {
  background-color: var(--color-yellow-pastel-ligth);
}

.header .container {
  max-width: 100%;
  width: 100%;
  padding: 0 2rem;
}

.header .container h3 {
  font-family: var(--font-tertiary);
  color: var(--color-coral);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
}

.social-icons .icon {
  width: 24px; /* Ajuste o tamanho */
  height: 24px;
  fill: var(--color-coral); /* Define a cor vermelha */
  transition: fill 0.3s ease-in-out;
  transition: transform 0.3s;
}

.social-icons a:hover .icon {
  fill: var(--color-red-medium); /* Cor mais escura ao passar o mouse */
  transform: scale(1.1);
}

/* SINGLE POST - Padding e alinhamento */
.single-post {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
  padding: 6rem 1.5rem; /* Ajustado para não ultrapassar a esquerda */
  max-width: 80%; /* Mantém o conteúdo contido */
  margin: 0 auto; /* Garante que fique centralizado */
}

.post-hero {
  width: 100%;
}

/* CONTAINER DO HERO */
.post-hero .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha verticalmente */
  align-items: flex-start; /* Mantém alinhado à esquerda */
  min-height: 350px;
}

/* TÍTULO DO POST */
.post-title {
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  color: var(--color-red-strong);
  margin-bottom: 0.5rem;
  text-align: left;
}

/* TÍTULO DO POST */
.post-title {
  font-size: 3.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-red-medium);
  margin-bottom: 0.5rem;
  text-align: left; /* Mantém alinhado à esquerda */
}

/* LOGO E DATA */
.post-meta {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centraliza abaixo do título */
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.post-logo {
  flex: 1;
}

.post-logo img {
  width: auto;
  height: 70px;
}

.post-logo-date {
  flex: 15;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  color: var(--color-soft-black);
}

.post-logo-date img {
  width: auto;
  height: 30px;
}

.post-logo-date p {
  margin: 0rem;
  font-weight: 600;
  color: var(--color-soft-black-ligth);
}

/* IMAGEM DO POST HERO */
.post-hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

/* CONTEÚDO DO POST */
.post-content .container {
  padding: 0 6rem; /* Ajustado para evitar ultrapassar a lateral */
  display: flex;
  flex-flow: column;
}

.post-content .container .section-divider {
  width: 100%; /* Define a largura */
}

.post-content img {
  width: 100%;
  height: 500px;
  margin: 0rem 0rem 1rem;
  object-fit: cover;
  object-position: center;
}

.post-content h2 {
  width: 100%;  
  font-size: 2.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-soft-black);
  margin-bottom: 0rem;
}

.post-content h3 {
  width: 75%;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-soft-black);
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.post-content p {
  width: 100%;  
  color: var(--color-soft-black-ligth);
  font-weight: 400;
  margin: 1rem 0rem 0rem;
  max-width: 850px;
}

.post-content .horizontal p {
  width: 75%;
}

.post-content .container .horizontal {
  flex: 1;
  display: flex;
  flex-flow: row;
  gap: 1.3rem;
  margin: 2rem 0rem;
}

.post-content .container .horizontal .horizontal-content-img {
  flex: 2;
}

.post-content .container .horizontal img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.post-content .container .horizontal .horizontal-content {
  flex: 3;
}

.next-post {
  width: 100%;
  height: 500px; /* Ajuste conforme necessário */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 5rem 0rem 0rem;
}

.next-post .container {
  width: 100%;
  height: 100%;
  position: relative;
}

.next-post-link {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: white;
}

.next-post-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.next-post-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha toda a área sem distorcer */
  display: block;
}

.next-post-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* Escurecimento para destacar o texto */
  padding: 2rem;
}

.next-post-content h3 {
  font-size: 2rem;
  font-family: var(--font-tertiary);
  margin-bottom: 0.5rem;
}

.next-post-content p {
  font-size: 1.2rem;
}
