@import url("styles.css");

/* Estilos específicos para o Blog */

#blog-header-mobile {
  display: none;
}

body {
  background-color: var(--color-yellow-pastel-ligth);
}

.header .container {
  max-width: 100%;
  width: 100%;
  padding: 0 2rem;
}

.header .container h3 {
  font-family: var(--font-tertiary);
  color: var(--color-coral);
}

.nav ul {
  font-size: medium;
  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 0rem 2rem;
}

.social-icons a {
  text-decoration: none;
}

.social-icons .icon {
  width: 24px; /* Ajuste o tamanho */
  height: 24px;
  fill: var(--color-coral); /* Define a cor vermelha */
  transition: fill 0.3s ease-in-out;
  transition: transform 0.3s;
}

.social-icons a:hover .icon {
  fill: var(--color-red-medium); /* Cor mais escura ao passar o mouse */
  transform: scale(1.1);
}

/* SINGLE POST - Padding e alinhamento */
.single-post {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
  padding: 6rem 1.5rem 0.5rem; /* Ajustado para não ultrapassar a esquerda */
  max-width: 80%; /* Mantém o conteúdo contido */
  margin: 0 auto; /* Garante que fique centralizado */
}

.post-hero {
  width: 100%;
}

/* CONTAINER DO HERO */
.post-hero .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha verticalmente */
  align-items: flex-start; /* Mantém alinhado à esquerda */
  min-height: 350px;
}

/* TÍTULO DO POST */
.post-title {
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  color: var(--color-red-strong);
  margin-bottom: 0.5rem;
  text-align: left;
}

/* TÍTULO DO POST */
.post-title {
  font-size: 3.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-red-medium);
  margin-bottom: 0.5rem;
  text-align: left; /* Mantém alinhado à esquerda */
}

.post-content {
  padding: 0rem 1.5rem;
}

/* LOGO E DATA */
.post-meta {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centraliza abaixo do título */
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.post-logo {
  flex: 1;
}

.post-logo img {
  width: auto;
  height: 70px;
}

.post-logo-date {
  flex: 15;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  color: var(--color-soft-black);
}

.post-logo-date img {
  width: auto;
  height: 30px;
}

.post-logo-date p {
  margin: 0rem;
  font-weight: 600;
  color: var(--color-soft-black-ligth);
}

/* IMAGEM DO POST HERO */
.post-hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

/* CONTEÚDO DO POST */
.post-content .container {
  padding: 0 6rem; /* Ajustado para evitar ultrapassar a lateral */
  display: flex;
  flex-flow: column;
}

.post-content .container .section-divider {
  width: 100%; /* Define a largura */
}

.post-content img {
  width: 100%;
  height: 500px;
  margin: 0rem 0rem 1rem;
  object-fit: cover;
  object-position: center;
}

.post-content h2 {
  width: 100%;  
  font-size: 2.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-soft-black);
  margin-bottom: 0rem;
}

.post-content h3 {
  width: 75%;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-soft-black);
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.post-content p {
  width: 100%;  
  color: var(--color-soft-black-ligth);
  font-weight: 400;
  margin: 0.5rem 1rem 1rem 0rem;
  max-width: 850px;
}

.post-content .horizontal p {
  width: 75%;
}

.post-content .container .horizontal {
  flex: 1;
  display: flex;
  flex-flow: row;
  gap: 1.3rem;
}

.post-content .container .horizontal.reverse {
  flex-direction: row-reverse;
}

.post-content .horizontal.reverse p {
  width: 90%;
}

.post-content .container .horizontal .horizontal-content-img {
  flex: 2;
}

.post-content .container .horizontal img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.post-content .container .horizontal .horizontal-content {
  flex: 3;
}

.post-content .container .horizontal.horizontal.reverse .horizontal-content {
  flex: 2;
}

.next-post {
  width: 100%;
  height: 500px; /* Ajuste conforme necessário */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 5rem 0rem 0rem;
}

.next-post .container {
  width: 100%;
  height: 100%;
  position: relative;
}

.next-post-link {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: white;
}

.next-post-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.next-post-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha toda a área sem distorcer */
  display: block;
}

.next-post-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* Escurecimento para destacar o texto */
  padding: 2rem;
}

.next-post-content h3 {
  font-size: 4rem;
  font-family: var(--font-tertiary);
  margin: 0rem;
}

.next-post-content p {
  font-size: 1.2rem;
  margin: 0rem;
  font-family: var(--font-primarytertiary);
}

/* Ajustes para tornar o blog_post_1.html responsivo */
@media (max-width: 1024px) {  
  hr {
    margin: 2rem 0rem;
    border-top: 2px solid rgba(234, 77, 73, 0.3);
  }
  .single-post {
    padding: 7rem 0rem 0rem;
    width: auto;
    overflow-x: hidden;
    max-width: 100%; /* Mantém o conteúdo contido */
    margin: 0 1rem; /* Garante que fique centralizado */
  }
  .header.solid.white {
    display: none;
  }
  #blog-header-mobile {
    width: 100%;
    background: inherit; /* Use a cor de fundo desejada ou herde do body */
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: var(--font-tertiary);
    color: var(--color-coral);
  }
  .blog-header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .blog-header-container .blog-logo {
    margin-left: 1rem;
    flex: 1;
  }
  .blog-header-container .blog-hamburger {
    margin-right: 0rem;
  }
  .blog-nav .blog-menu li a {
    text-decoration: none;
    color: var(--color-yellow-pastel); /* Altere para a cor desejada */
    font-weight: bold;
  }
  .blog-nav ul {
    gap: 1rem;
  }
  /* Oculta o ícone hamburger e o checkbox no desktop */
  .blog-hamburger,
  .blog-menu-checkbox {
    display: none;
  }
  /* Exibe o ícone hamburger no mobile */
  .blog-hamburger {
    display: flex;
    align-items: center;
    justify-content: center; /* opcional, para centralizar horizontalmente também */
    height: 100%; /* Certifique-se de que o label tenha uma altura definida ou herde do pai */  
  }
  .social-icons {
    gap: 1rem;
  }
  /* Oculta o menu padrão e posiciona o menu mobile */
  .blog-nav .blog-menu {
    position: fixed;
    top: 6rem;
    right: 0;
    width: 50%; /* Ocupa metade da tela */
    height: 100vh;
    background: inherit; /* Utilize a mesma cor de fundo do header ou outra desejada */
    flex-direction: column;
    padding-top: 3rem; /* Espaço para não sobrepor o header */
    list-style: none;
    margin: 0;
    transform: translateX(100%); /* Começa fora da tela (à direita) */
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
    font-family: var(--font-primary);
    background-color: var(--color-coral);
    color: var(--color-yellow-pastel);
    font-size: 1.5rem;
    display: flex;
  }
  /* Ao marcar o checkbox, o menu desliza para a esquerda e aparece */
  #blog-menu-toggle:checked ~ .blog-nav .blog-menu {
    transform: translateX(0);
  }
  /* Opcional: Efeito de fade e deslocamento para os itens do menu */
  .blog-nav .blog-menu li {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  #blog-menu-toggle:checked ~ .blog-nav .blog-menu li {
    opacity: 1;
    transform: translateX(0);
  }
  .header .container {
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
  }
  .post-title {
    font-size: 2rem;
    text-align: left;
  }
  .post-meta {
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }
  .post-logo-date {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
  }
  .post-hero-image {
    height: 350px;
  }
  .post-content {
    padding: 0rem;
  }
  .post-content p {
    font-size: 0.9rem;
  }
  .post-content .container {
    padding: 0 0.8rem;
  }
  .post-content img {
    height: 350px
  }
  .post-content .container .horizontal {
    flex-direction: column;
  }
  .post-content .container .horizontal.reverse {
    flex-direction: column;
  }
  .post-content .horizontal p {
    width: 100%;
    text-align: left;
  }
  .post-content .horizontal.reverse p {
    width: 100%;
    text-align: left;
  }
  .post-content h2, .post-content h3 {
    font-size: 1.4rem;
    text-align: left;
    width: 100%;
  }
  .post-hero .container {
    justify-content: space-around;
    min-height: 0;   
  }
  .post-content .container .horizontal img {
    height: 350px;
  }
  .horizontal {
    flex-direction: column;
  }
  .horizontal-content p {
    text-align: center;
  }
  .next-post {
    margin-top: 3rem;
    height: 300px;
  }
  .next-post-content {
    padding: 0rem;
  }
  .next-post-content h3 {
    font-size: 2rem;
    margin: 0rem;
  }
  .next-post-content p {
    margin: 0rem;
    font-size: 0.9rem;
    font-family: var(--font-primary);
  }
  .footer-mobile {
    height: auto;
    width: 100vw;
  }
}
