@import url("styles.css");

/* Estilos específicos para o Blog */

body {
  background-color: var(--color-yellow-pastel-ligth);
}

.header .container {
  max-width: 100%;
  width: 100%;
  padding: 0 2rem;
}

.header .container h3 {
  font-family: var(--font-tertiary);
  color: var(--color-coral);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
}

.social-icons .icon {
  width: 24px; /* Ajuste o tamanho */
  height: 24px;
  fill: var(--color-coral); /* Define a cor vermelha */
  transition: fill 0.3s ease-in-out;
  transition: transform 0.3s;
}

.social-icons a:hover .icon {
  fill: var(--color-red-medium); /* Cor mais escura ao passar o mouse */
  transform: scale(1.1);
}

.blog-home {
  position: relative;
  padding: 7rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  gap: 1.5rem;
}

.menu {
  flex: 2;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
}

.menu .container {
  flex: 5;
  width: 100%;
  text-align: left;
}

.menu .content {
  flex: 1;
  width: 100%;
  text-align: left;
}

.menu .content p {
  width: 85%;
  font-family: var(--font-primary);
  color: var(--color-soft-black-ligth);
  font-weight: 600;
  line-height: 1.6; /* Espaçamento entre linhas */
  text-align: left; /* Justifica o texto */
  margin-top: 15px; /* Alinha melhor com a linha de base */
}

.menu .content #p-first::first-letter {
  font-size: 4rem; /* Aumenta o tamanho da primeira letra */
  font-weight: bold; /* Negrito */
  float: left; /* Faz a letra "cair" no parágrafo */
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: -15px;
  line-height: 1; /* Ajusta a altura da linha */
  color: var(--color-soft-black); /* Cor da letra */
}

.menu img {
  width: auto;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.featured-post {
  flex: 4;
  position: relative;
  overflow: hidden;
  border: solid 15px var(--color-green-pastel);
  background-color: var(--color-yellow-pastel);
}

.featured-post img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.85);
  transition: filter 0.3s ease-in-out;
}

.featured-post:hover img {
  filter: brightness(1);
}

.featured-content {
  position: relative;
  padding: 0rem 1rem;
}

.featured-content h3 {
  font-family: var(--font-primary);
  color: var(--color-green-dark);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 1rem 0rem 0.5rem;
}

.featured-content h2 {
  font-family: var(--font-tertiary);
  color: var(--color-red-strong);
  font-size: 2rem;
  margin: 0 0 10px;
  width: 70%;
  line-height: 1.2; /* Ajusta a altura da linha */
}

.featured-content p {
  font-family: var(--font-primary);
  color: var(--color-soft-black-ligth);
  font-weight: 600;
  font-size: 1rem;
  width: 70%;
}

.blog-grid {
  display: flex;
  flex-flow: row;
  padding: 2rem;
  gap: 1.5rem;
}

.blog-item {
  flex: 2;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border: solid 15px var(--color-green-pastel);
  background-color: var(--color-yellow-pastel);
}

.blog-item-v {
  flex: 1;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border: solid 15px var(--color-green-pastel);
  background-color: var(--color-yellow-pastel);

}

.blog-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.blog-item:hover img {
  filter: brightness(1);
}

.blog-item-v img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.blog-item-v:hover img {
  filter: brightness(1);
}

.blog-item h3 {
  flex: 1;
  font-family: var(--font-tertiary);
  color: var(--color-red-strong);
  padding: 15px 0px 0px;
  margin: 1rem;
  font-size: 2rem;
}

.blog-item-v h3 {
  flex: 1;
  font-family: var(--font-tertiary);
  color: var(--color-red-strong);
  padding: 15px 0px 0px;
  margin: 1rem;
  font-size: 2rem;
}

.blog-item p {
  flex: 4;
  font-family: var(--font-primary);
  color: var(--color-soft-black);
  padding: 0 0px 15px;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  font-weight: 600;
}

.blog-item-v p {
  flex: 4;
  font-family: var(--font-primary);
  color: var(--color-soft-black);
  padding: 0 0px 15px;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  font-weight: 600;
}
