/* Definição das fontes - com .otf */
@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Black.otf') format('opentype');
  font-weight: 900; /* Black */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Hairline.otf') format('opentype');
  font-weight: 100; /* Hairline */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Light.otf') format('opentype');
  font-weight: 300; /* Light */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Semibold.otf') format('opentype');
  font-weight: 600; /* SemiBold */
}

/* Variáveis de Cores e Fontes */
:root {
  --primary-color: #b42521;
  --secondary-color: #3fc892;
  --background-light: #f7f7d4;
  --background-extra-light: #fefedb;
  --background-dark: #191919;
  --white: #fff;
  --gray-light: #ddd;
  --black: #333;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --button-bg: #3fc892;

  /* Variáveis de Fontes */
  --font-primary: 'Roboto Slab', serif;
  --font-secondary: 'Pacifico', cursive;
  --font-tertiary: 'Noka', sans-serif; /* Fonte Noka para ser usada */
}

/* Estilos gerais */
body {
  margin: 0;
  font-family: var(--font-primary);
  line-height: 1.6;
  color: var(--black);
  background-color: var(--background-extra-light);
}

body::-webkit-scrollbar {
  display: none;
}

/* Header */
.header {
  display: flex; /* Flexbox para alinhar horizontalmente */
  justify-content: space-between; /* Isso vai manter o logo à esquerda e o menu à direita */
  align-items: center; /* Alinha verticalmente no centro */
  position: absolute;
  width: 100%;
  top: 0;
  padding: 1rem 0rem; /* Ajuste do padding */
  z-index: 10;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between; /* Isso vai manter o logo à esquerda e o menu à direita */
  align-items: center; /* Alinha verticalmente no centro */
}

.header .logo img {
  width: 70px; /* Tamanho do logo */
  height: auto;
}

.nav ul {
  list-style: none;
  display: flex; /* Exibe os itens do menu na mesma linha */
  gap: 1rem; /* Espaçamento entre os itens */
  margin: 0;
  padding: 0;
  font-family: var(--font-tertiary);
  font-weight: 700; /* Bold */
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: var(--secondary-color); /* Efeito de hover no menu */
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h2 {
  font-family: var(--font-tertiary); /* Corrigido aqui */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  z-index: 0;
}

.home .btn {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  display: inline-block;
}

/* Serviços */
.services {
  padding: 3rem 2rem; /* Espaçamento superior/inferior de 3rem e laterais de 2rem */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 1rem; /* Margem entre os quadrados */
}

.service-item {
  height: 700px; /* Altura fixa para os quadrados */
  position: relative; /* Necessário para posicionar o conteúdo sobre a imagem */
  overflow: hidden; /* Garante que a imagem e conteúdo não saiam dos limites */
  border: 1px solid var(--gray-light); /* Adiciona uma borda para dar mais definição ao quadrado */
  border-radius: 0px; /* Remove as bordas arredondadas */
}

.service-item img {
  width: 100%;
  height: 100%; /* Imagem ocupa 100% do quadrado */
  object-fit: cover; /* Faz a imagem preencher o quadrado sem distorcer */
}

.service-item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: var(--white);
  text-align: left;
}

.service-item .content h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
}

.service-item .content p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.service-item .content .btn {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

/* Destinos */
.destinos {
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
}

.destinos .title {
  font-size: 2rem;
  font-family: var(--font-tertiary); /* Fonte Noka usando variável */
  font-weight: 700; /* Usando o peso bold da fonte */
  margin-bottom: 2rem;
  text-align: left; /* Alinha o título à esquerda */
}

.destinos-container {
  display: flex;
  overflow-x: scroll; /* Permite rolar horizontalmente */
  gap: 1rem; /* Espaçamento entre os quadrados */
  scroll-behavior: smooth; /* Suaviza a rolagem */
  -ms-overflow-style: none;  /* Oculta a barra de rolagem no Internet Explorer */
  scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}

.destinos-container::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}

.destino-item {
  width: 450px; /* Largura dos quadrados */
  height: 600px; /* Altura dos quadrados */
  position: relative;
  flex-shrink: 0; /* Impede que os itens encolham */
  overflow: hidden; /* Garante que a imagem não saia do quadrado */
}

.destino-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preenche o quadrado sem distorcer */
}

.destino-item .content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  color: var(--white);
  background-color: transparent; /* Removido o efeito fosco */
  padding: 0.5rem;
  text-align: left;
}

.destino-item .content h3 {
  margin: 0;
  font-size: 1.3rem;
  font-family: var(--font-secondary);
}

/* Estilo para as setas de navegação sobre as imagens */
.destinos-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 6rem); /* Deixa as setas com distância das bordas */
  padding: 0 2rem; /* Espaçamento nas laterais */
}

.destinos-buttons .btn {
  background-color: var(--white);
  color: var(--black);
  width: 40px; /* Define a largura fixa do botão */
  height: 40px; /* Define a altura fixa do botão */
  border-radius: 50%; /* Torna os botões redondos */
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.destinos-buttons .btn:hover {
  background-color: var(--secondary-color);
}

/* Blog */
.blog-section .container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row;
}

.blog-section .container .container-left {
  flex: 1;
  display: inline-block;  
}

.blog-section .section-title {
  font-size: 2.5rem;
  text-align: left; /* Alinha o título à esquerda */
  margin-bottom: 1rem; /* Espaçamento menor entre o título e a descrição */
  font-weight: bold;
  color: #333;
}

.blog-section .section-description {
  font-size: 1.2rem;
  text-align: left; /* Alinha a descrição à esquerda */
  margin-bottom: 2rem; /* Espaçamento após a descrição */
  color: #777;
}

.blog-posts {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.post-item {
  overflow: hidden;
  flex: content;
}

.post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.post-content {
  padding: 1.5rem;
}

.post-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.post-excerpt {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.5rem;
}

.post-content .btn {
  padding: 0.8rem 1.5rem;
  background-color: #b42521;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  display: inline-block;
}

.view-more {
  text-align: center;
  margin-top: 3rem;
}

.view-more .btn {
  padding: 1rem 2rem;
  background-color: #b42521;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  text-transform: uppercase;
}

/* Quem Somos */
.about {
  padding: 3rem 0;
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
}

.values {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Contato */
.contact {
  padding: 3rem 0;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Alinha logo e menu em coluna em telas pequenas */
    padding: 1rem; /* Reduz o padding para telas menores */
  }

  .nav ul {
    flex-direction: column; /* Empilha os itens do menu */
    text-align: center;
    gap: 0.5rem;
  }
}

form label {
  display: block;
  margin-top: 1rem;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

form .btn {
  background-color: var(--secondary-color);
  color: var(--white);
  margin-top: 1rem;
}
