/* Definição das fontes - com .otf */
@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Black.otf') format('opentype');
  font-weight: 900; /* Black */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Hairline.otf') format('opentype');
  font-weight: 100; /* Hairline */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Light.otf') format('opentype');
  font-weight: 300; /* Light */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Noka';
  src: url('../assets/fonts/Noka-Semibold.otf') format('opentype');
  font-weight: 600; /* SemiBold */
}

/* Variáveis de Cores e Fontes */
:root {
  --primary-color: #b42521;
  --primary-color-extra-light: rgb(240, 204, 202);
  --secondary-color: rgb(63, 200, 146);
  --background-light: #f7f7d4;
  --background-extra-light: #ffffdb;
  --background-dark: #191919;
  --white: #fff;
  --gray-light: #ddd;
  --black: #333;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --button-bg: #3fc892;

  /* Variáveis de Fontes */
  --font-primary: 'Roboto Slab', serif;
  --font-secondary: 'Pacifico', cursive;
  --font-tertiary: 'Noka', sans-serif; /* Fonte Noka para ser usada */
}

/* Estilos gerais */
body {
  margin: 0;
  font-family: var(--font-primary);
  line-height: 1.6;
  color: var(--black);
  background-color: var(--background-extra-light);
}

body::-webkit-scrollbar {
  display: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fixo no topo */
  top: 0; /* Colado no topo */
  width: 100%; /* Largura total */
  padding: 0.5rem 0;
  z-index: 1000; /* Garante que fique acima de outros elementos */
  background-color: transparent; /* Inicialmente transparente */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Header sólido quando o usuário rolar */
.header.solid {
  background-color: #b42521; /* Vermelho sólido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

/* Container do header */
.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; /* Adiciona um pouco de padding nas laterais */
  gap: 40rem;
}

/* Logo */
.header .logo img {
  width: 70px;
  height: auto;
  transition: filter 0.3s ease; /* Transição suave para o logo */
}

/* Logo branco quando o header está sólido */
.header.solid .logo img {
  filter: brightness(0) invert(1); /* Transforma o logo em branco */
}

/* Menu */
.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* Espaçamento entre os itens do menu */
  margin: 0;
  padding: 0;
  font-family: var(--font-tertiary);
  font-weight: 500;
  font-size: 14px;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; /* Transição suave para os links */
}

.nav a:hover {
  color: var(--secondary-color); /* Cor ao passar o mouse */
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h2 {
  font-family: var(--font-tertiary);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  z-index: 0;
}

.home .btn {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  display: inline-block;
}

/* Serviços */
/* Estilos para a seção de serviços */
.services {
  padding: 4rem 6rem; /* Espaçamento interno */
  display: flex;
  flex-direction: column;
}

.service-item {
  display: flex;
  align-items: center;
  height: 500px; /* Altura fixa para cada serviço */
  background-color: var(--white); /* Fundo branco */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.service-content {
  flex: 1; /* A descrição ocupa metade do espaço */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white); /* Fundo branco para a descrição */
}

.service-content h3 {
  font-size: 2rem;
  font-family: var(--font-tertiary);
  margin-bottom: 1rem;
  color: var(--black); /* Cor do título */
}

.service-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: var(--black); /* Cor do texto */
}

.service-content .btn {
  align-self: flex-start; /* Alinha o botão à esquerda */
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.service-content .btn:hover {
  background-color: var(--secondary-color); /* Cor ao passar o mouse */
}

.service-item-sub {
  display: flex;
  align-items: center;
  height: 700px; /* Altura fixa para cada serviço */
  overflow: hidden;
  gap: 2rem;
}

.service-item-sub-2 {
  flex: 3;
  display: flex;
  align-items: center;
  height: 600px; /* Altura fixa para cada serviço */
  background-color: var(--white); /* Fundo branco */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.service-item-sub-3 {
  flex: 1;
  height: 600px; /* Altura fixa para cada serviço */
  display: flex;
  flex-direction: column;
  background-color: var(--white); /* Fundo branco */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.service-item-sub-3 .service-content {
  flex: 1; /* A descrição ocupa metade do espaço */
  padding: 1rem;
}

/* Alternar a posição da foto e da descrição */
.service-item:nth-child(odd) {
  flex-direction: row; /* Foto na esquerda, descrição na direita */
}

.service-item:nth-child(even) {
  flex-direction: row-reverse; /* Foto na direita, descrição na esquerda */
}

.service-item-img {
  flex: 3; 
  height: 100%;
  object-fit: cover;
}

.service-item-img-v {
  flex: 2; 
  width: 100%; /* A imagem ocupa metade do espaço */
  object-fit: cover;
}

/* Destinos */
.destinos {
  width: 100%;
  height: 100vh;
  position: relative;
}

.destinos-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  /* Aplica um efeito de fade diretamente na imagem */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);

}

.destinos .title {
  font-size: 3rem;
  font-family: var(--font-tertiary);
  font-weight: 700;
  margin: 2rem 0rem;
  text-align: center;
  color: #3fc892;
}

.destinos-container {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 2rem 3rem;
}

.destinos-container::-webkit-scrollbar {
  display: none;
}

/* Estilo para o efeito polaroid */
.destino-item {
  width: 450px;
  height: 550px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destino-item img {
  width: 100%;
  height: 100%; /* A imagem ocupa 80% do espaço, deixando 20% para a descrição */
  object-fit: cover;
}

.destino-item .content {
  bottom: 0px;
  width: 450px;
  height: 30%;
  position: absolute;
  padding: 1rem 0rem;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.destino-item .content h3 {
  margin: 0;
  color: #f9f9f9;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  font-weight: 600;
}

.destino-item .content p {
  margin: 0;
  color: #ddd;
  font-family: var(--font-primary);
  font-weight: 600;
}

/* Estilo para as setas de navegação sobre as imagens */
.destinos-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 6rem);
  padding: 0 2rem;
}

.destinos-buttons .btn {
  background-color: var(--white);
  color: var(--black);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.destinos-buttons .btn:hover {
  background-color: var(--secondary-color);
}

/* Blog */
.blog-section {
  padding: 4rem 0;
}

.blog-section .container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row;
  gap: 2rem;
}

.blog-section .container .container-left {
  flex: 1;
  display: inline-block;
  align-items: flex-start;
  flex-flow: column;
}

.blog-section .section-title {
  flex: 1;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #9c1f1c;
  font-family: var(--font-tertiary);
}

.blog-section .section-description {
  flex: 1;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2rem;
  color: #777;
}

.blog-posts {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.post-item {
  overflow: hidden;
  flex: content;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  padding: 1.5rem 0;
}

.post-sub-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  font-family: var(--font-primary);
}

.post-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #b42521;
  margin: 0;
  font-family: var(--font-tertiary);
}

.post-content p {
  width: 60%;
  margin: 0;
  font-family: var(--font-primary);
}

.post-excerpt {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.5rem;
}

/* Solid border */
hr {
  border-top: 10px solid var(--font-primary);
}

/* Garante que o conteúdo do blog fique visível sobre o fundo */
.pattern-background > * {
  position: relative;
  z-index: 1;
}

.view-more {
  margin-top: 3rem;
}

.view-more .btn {
  padding: 1rem 2rem;
  background-color: #b42521;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  text-transform: uppercase;
}

/* Quem Somos */
.about-us {
  position: relative;
  min-height: 140vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--primary-color);
  overflow: hidden;
  padding: 2rem;
}

.about-us-image-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-us-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  
  /* Aplica um efeito de fade diretamente na imagem */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
}

.fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 219, 1) 0%,  /* Cor sólida do fundo */
    rgba(255, 255, 219, 0.8) 30%, 
    rgba(255, 255, 219, 0) 100%  /* Transparente na transição */
  );
}

.about-us-content {
  position: relative;
  z-index: 1; /* Garante que o texto fique sobre a imagem */
  width: 100%;
  text-align: center;
}

.about-us-content h2 {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.about-us-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  width: 50%;
  text-align: center;
  padding-left: 25%;
}

.values {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Contato */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd; /* Borda suave */
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #b42521; /* Cor da borda ao focar */
  outline: none;
}

.form-group textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
}

/* Estilos gerais para a seção de contato */
.contact {
  width: 100%;
  height: 120vh;
  background-color: rgb(240, 204, 202); /* Fundo claro */
}

/* Container flexível para imagem e formulário */
.contact-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Alinha verticalmente */
  text-align: center;
  justify-content: center;
}

/* Estilos para o formulário */
.contact-form {
  flex: 2; /* Ocupa o espaço disponível */
  padding: 0rem 2rem;
}

.contact-form h2 {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 2rem;
  color: #9c1f1c; /* Cor do título */
  font-family: var(--font-tertiary);
}

/* Estilos para os inputs e textarea */
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555; /* Cor do texto do label */
  font-family: var(--font-primary);
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd; /* Borda suave */
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com 90% de transparência */
  box-sizing: border-box; /* Garante que padding e borda sejam incluídos na largura */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: rgb(181, 38, 33); /* Cor da borda ao focar */
  outline: none;
}

.form-group textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
}

/* Estilos para o botão */
.contact-form .btn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff; /* Texto branco */
  background-color: #b42521; /* Vermelho */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form .btn:hover {
  background-color: #9c1f1c; /* Vermelho mais escuro ao passar o mouse */
}

/* Estilos para a imagem */
.contact-image {
  position: relative;
  width: 60%; /* Mantém a imagem ocupando metade da tela */
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.contact-image-fade {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: bottom;
}

.fade-overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; /* Controla a área do fade */
  height: 100%;
  background: linear-gradient(to right, rgba(240, 204, 202, 1) 0%, rgba(240, 204, 202, 0) 100%);
  pointer-events: none;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
}

form label {
  display: block;
  margin-top: 1rem;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

form .btn {
  background-color: var(--secondary-color);
  color: var(--white);
  margin-top: 1rem;
}