@import url("styles.css");

/* Estilos específicos para o theworld */

#theworld-header-mobile {
  display: none;
}

body {
  background-color: var(--color-yellow-pastel-ligth);
}

h2, h3 {
  line-height: 1.3;
}

.divider {
  width: 2px;
  height: 70%;
  background-color: var(--color-red-medium);
}

.book-now.btn {
  flex: 1;
  text-align: center;
  background-color: transparent;
  color: var(--color-green-pastel);
  border: 4px solid var(--color-green-pastel);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  max-width: 300px;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-primary);
  font-weight: 600;
}

.book-now.btn:hover {
  border: 4px solid var(--color-green-pastel);
  background-color: var(--color-green-pastel);
  color: var(--color-soft-white);
}

.book-now-white.btn {
  flex: 1;
  text-align: center;
  background-color: transparent;
  color: var(--color-soft-white);
  border: 4px solid var(--color-soft-white);
  padding: 0.8rem 2rem;
  font-size: 1.25rem;
  border-radius: 50px;
  text-decoration: none;
  max-width: 300px;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-primary);
  font-weight: 600;
}

.book-now-white.btn:hover {
  border: 4px solid var(--color-soft-white);
  background-color: var(--color-soft-white);
  color: var(--color-soft-black-ligth);
}

.cta-theworld {
  justify-self: center;
  display: flex;
  flex-flow: row;
  gap: 2rem;
  justify-items: center;
}

/* SINGLE theworld-post - Padding e alinhamento */
.single-theworld-post {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
  padding: 6rem 1.5rem 0.5rem; /* Ajustado para não ultrapassar a esquerda */
  max-width: 80%; /* Mantém o conteúdo contido */
  margin: 0 auto; /* Garante que fique centralizado */
}

.theworldisours {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: var(--color-green-medium);
}

.theworldisours-titulo {
  display: none;
}

.theworldisours-item {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.theworldisours-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: transform 10s;
  filter: brightness(80%);
}

.theworldisours-content {
  position: relative;
  z-index: 2;
  align-items: center;
}

.theworldisours-content h4 {
  color: var(--color-yellow-pastel-ligth);
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  line-height: 1;
  margin: 1rem 0rem;
}

.theworldisours-content h1 {
  color: var(--color-soft-white);
  font-size: 9rem;
  margin: 1rem 0rem;
  font-family: var(--font-tertiary);
  line-height: 1;
}

.theworldisours-content.final h1 {
  font-size: 4rem;
  margin: 2rem 0rem;
  width: 80%;
  justify-self: center;
  line-height: 1.25;
}

.theworldisours-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: var(--font-primary);
  margin: 0;
  color: var(--color-soft-white);
}

.theworld-post-hero {
  width: 100%;
}

/* CONTAINER DO HERO */
.theworld-post-hero .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha verticalmente */
  align-items: flex-start; /* Mantém alinhado à esquerda */
  min-height: 350px;
}

/* TÍTULO DO theworld-post */
.theworld-post-title {
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  color: var(--color-red-strong);
  margin-bottom: 0.5rem;
  text-align: left;
}

/* TÍTULO DO theworld-post */
.theworld-post-title {
  font-size: 3.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-red-medium);
  margin-bottom: 0.5rem;
  text-align: left; /* Mantém alinhado à esquerda */
}

.theworld-post-content {
  padding: 2rem 2rem;
}

.theworld-post-content .horizontal.horizontal .horizontal-content {
  align-content: center;
}

.theworld-post-content .horizontal.horizontal.reverse .horizontal-content {
  align-content: center;
}

/* IMAGEM DO theworld-post HERO */
.theworld-post-hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

/* CONTEÚDO DO theworld-post */
.theworld-post-content .container {
  padding: 0 6rem; /* Ajustado para evitar ultrapassar a lateral */
  display: flex;
  flex-flow: column;
}

.theworld-post-content .container .section-divider {
  width: 100%; /* Define a largura */
}

.theworld-post-content img {
  width: 100%;
  height: 500px;
  margin: 0rem 0rem 1rem;
  object-fit: cover;
  object-position: center;
}

.theworld-post-content h2 {
  width: 75%;  
  font-size: 3rem;
  font-family: var(--font-tertiary);
  color: var(--color-green-medium);
  margin: 0rem 0rem 1rem;
}

.theworld-post-content.final h2 {
  color: var(--color-coral);
}

.theworld-post-content h3 {
  width: 75%;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  color: var(--color-soft-black);
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.theworld-post-content p {
  width: 75%;  
  color: var(--color-soft-black-ligth);
  font-family: var(--font-primary);
  font-weight: 400;
  margin: 0.5rem 1rem 1rem 0rem;
  max-width: 850px;
}
.theworld-post-content .horizontal p {
  width: 75%;
}
.theworld-post-content .horizontal {
  flex: 1;
  display: flex;
  flex-flow: row;
  gap: 1.3rem;
  height: 590px;
  margin: 2rem 0rem;
}
.theworld-post-content .horizontal.reverse {
  flex-direction: row-reverse;
}
.theworld-post-content .horizontal.reverse p {
  width: 90%;
}
.theworld-post-content .horizontal .horizontal-content-img {
  flex: 2;
  border: solid 10px var(--color-soft-white);
}
.theworld-post-content .horizontal img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.theworld-post-content .horizontal .horizontal-content {
  flex: 3;
}
.theworld-post-content .horizontal.horizontal.reverse .horizontal-content {
  flex: 2;
}
.container-book-now-btn{
  display: flex;
  width: 165px;
}
.info-container {
  background: var(--color-yellow-pastel);
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: solid 10px var(--color-green-pastel);
  width: 50%;
  justify-self: center;
}

.info-container h2 {
  color: var(--color-coral);
}

.info-container ul {
  list-style: none;
  padding: 0;
}

.info-container ul li {
  background: var(--color-yellow-pastel-ligth);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--font-primary);
}

.info-container .container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-link {
  background-color: var(--color-red-medium);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-family: var(--font-primary);
}

.tab-link.active {
  background-color: var(--color-red-strong);
}
.tab-content {
  justify-self: center;
  width: 80%;
  display: none;
  gap: 1rem;
  background: var(--color-yellow-pastel-ligth);
  padding: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.tab-content-left {
  flex: 1;
}
.tab-content-right {
  flex: 1;
}
.tab-content.active {
  display: flex;
  flex-flow: row;
}
.tab-content img {
  width: 500px;
  margin-left: 5%;
  height: 700px; /* Mantém a proporção original da imagem */
  object-fit: cover;
  object-position: center;
  border: solid 10px var(--color-yellow-pastel);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.itinerary {
  background-color: var(--color-yellow-pastel);
  padding: 2rem 0rem; 
}
.itinerary h2 {
  width: 100%;
  text-align: center;
  margin: 0rem 0rem 1rem;
  font-size: 5rem;
  color: var(--color-red-dark);
  font-family: var(--font-tertiary);
}
.itinerary h3 {
  width: 100%;
  text-align: left;
  margin: 0rem;
  font-size: 3rem;
  color: var(--color-red-strong);
  font-family: var(--font-tertiary);
}
.itinerary h4 {
  width: 100%;
  text-align: left;
  margin: 0rem;
  font-size: 1.5rem;
  color: var(--color-red-dark);
  font-family: var(--font-tertiary);
}
.itinerary p {
  width: 80%;
  text-align: left;
  font-size: larger;
  color: var(--color-soft-black-ligth);
  font-family: var(--font-primary);
  font-weight: 400;
}
.itinerary ul {
  list-style: none;
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--color-soft-black-ligth);
  font-size: larger;
}
.itinerary ul li {
  margin: 0.2rem 0rem;
}
.itinerary ul li::before {
  content: "●"; /* Círculo preenchido */
  color: var(--color-coral);
  font-weight: bold;
  margin-right: 10px;
}
.trip-highlights {
  background-color: var(--color-yellow-pastel);
  padding-bottom: 2rem;
}
.trip-highlights .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  background-color: var(--color-yellow-pastel-ligth);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.text-content {
  flex: 1;
  max-width: 500px;
}
.text-content h2 {
  color: var(--color-red-strong);
  font-family: var(--font-tertiary);
  font-size: 3rem;
  margin: 0rem;
}
.text-content h3 {
  color: var(--color-coral);
  font-family: var(--font-tertiary);
  font-size: 1.25rem;
  margin-bottom: 0rem;
}
.text-content p {
  font-size: 1rem;
  color: var(--color-soft-black-ligth);
  font-weight: 500;
  width: 90%;
  font-family: var(--font-primary);
}
.highlights-wrapper {
  flex: 3;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.highlights-grid {
  display: flex;
  gap: 1rem;
}
.highlights-grid::-webkit-scrollbar {
  display: none;
}
.highlight-box {
  width: 350px;
  height: 500px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  position: relative;
  flex-shrink: 0;
  border: solid 10px var(--color-yellow-pastel);
}
.highlight-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.highlight-content {
  position: relative;
  z-index: 1;
  padding: 10px;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.highlight-box h3 {
  font-size: 1.5rem;
  text-align: left;
  font-family: var(--font-tertiary);
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 
.highlight-box p {
  text-align: left;
  font-family: var(--font-primary);
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0rem;
  font-weight: 400;
}
.section-inclusions {
  background-color: var(--color-yellow-pastel-ligth);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0rem;  
}
.inclusions {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.section-inclusions h2 {
  font-size: 3rem;
  margin: 0rem 0rem 1rem;
  color: var(--color-soft-black-ligth);
  font-family: var(--font-tertiary);
  text-align: center;
}
.inclusion-box {
  background: var(--color-yellow-pastel-ligth);
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 200px;
  height: auto;
  text-align: left;
  border: solid 10px var(--color-green-pastel);
}
.inclusion-box.not-included {
  border: solid 10px var(--color-coral);
}
.inclusion-box h3 {
  font-size: 2rem;
  margin-bottom: 0rem;
  color: var(--color-green-pastel);
  font-family: var(--font-tertiary);
  text-align: center;
}
.inclusion-box.not-included h3 {
  color: var(--color-coral);
}
.inclusion-box ul {
  list-style: none;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--color-soft-black-ligth);
}
.inclusion-box ul li {
  margin: 1rem 0rem;
}
.inclusion-box ul li::before {
  content: "●"; /* Círculo preenchido */
  color: var(--color-green-pastel);
  font-weight: bold;
  margin-right: 10px;
}
.not-included ul li::before {
  content: "■"; /* Quadrado preenchido */
  color: red;
}
.pricing {
  background-color: var(--color-yellow-pastel);
  width: 100%;
  padding: 2rem;
}
.pricing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 100vh;
}
.pricing-box {
  background-color: var(--color-yellow-pastel-ligth);
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.pricing-form {
  flex: 2;
  text-align: left;
  background-color: var(--color-yellow-pastel);
}
.pricing-form h2 {
  font-size: 2.5rem;
  text-align: left;
  color: var(--color-green-medium);
  font-family: var(--font-tertiary);
  margin: 1rem;
}
.pricing-form h3 {
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-soft-black-ligth);
  font-family: var(--font-tertiary);
  margin: 0rem 0rem 0.5rem;
}
.pricing-form p {
  font-size: 1rem;
  text-align: left;
  color: var(--color-soft-black-ligth);
  font-family: var(--font-primary);
  margin-top: 0rem;
}
p.highlight {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  color: var(--color-green-medium);
  font-weight: 600;
  margin: 0rem;
}
.pricing-form .btn:hover {
  background-color: var(--color-red-medium);
}
.pricing-image {
  flex: 3;
  position: relative;
  width: 100%;
  height: 100%;
}
.pricing-image img {
  object-position: bottom;
}
.pricing-image-fade {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pricing {
  width: auto;
}
.pricing .horizontal p {
  width: 75%;
}
.pricing .horizontal {
  flex: 1;
  display: flex;
  flex-flow: row;
  align-content: space-around;
  gap: 1.3rem;
}
.pricing .horizontal.reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.pricing .horizontal.reverse p {
  width: 90%;
}
.pricing .horizontal .horizontal-content-img {
  flex: 2;
}
.pricing .horizontal img {
  height: 90%;
  width: 100%;
  justify-self: center;
  object-fit: cover;
  object-position: center;
  border: solid 10px var(--color-soft-white);
}
.pricing .horizontal .horizontal-content {
  flex: 3;
}
.pricing .horizontal.horizontal.reverse .horizontal-content {
  flex: 2;
}
#discount {
  color: var(--color-coral);
}
#link {
  color: var(--color-coral);
}
.general-information {
  position: relative;
  padding: 2rem;
  background-color: var(--color-red-medium);
  display: flex;
  gap: 2rem;
}
.general-information .title {
  flex: 1;
  font-size: 5rem;
  font-family: var(--font-tertiary);
  align-content: center;
}
.general-information .container {
  flex: 5;
  position: relative;
  z-index: 1;
  background-color: var(--color-yellow-pastel);
  padding: 1rem;
  display: flex;
  flex-flow: row;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  margin-left: 2rem;
  border: 10px solid var(--color-coral);
  justify-content: center;
  gap: 1rem;
}
.general-information .container .container-left {
  flex: 1;
}
.general-information .container .container-rigth {
  flex: 1;
}
.general-information h2 {
  color: var(--color-red-dark);
  font-family: var(--font-tertiary);
  font-size: 4rem;
  line-height: 1.2;
  display: inline-block;
  margin: 0rem;
}
.general-information p {
  font-family: var(--font-primary);
  color: var(--color-soft-black-ligth);
  margin: 0.5rem;
}
.general-information p strong {
  font-family: var(--font-tertiary);
  color: var(--color-red-medium);
}
.faq-container {
  width: 65%;
  padding: 1rem;
  margin: 2rem auto;
}
.faq-container h2 {
  margin-bottom: 2rem;
}
.faq-item {
  border-bottom: 1px solid rgba(82, 82, 82, 0.7);
}
.faq-question {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 15px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  font-family: var(--font-tertiary);
  color: var(--color-soft-black-ligth);
}
.faq-answer {
  padding: 0 15px 15px 15px;
  font-size: medium;
  display: none;
  color: var(--color-soft-black-ligth);
  line-height: 1.6;
  font-family: var(--font-primary);
}
.faq-question.active {
  color: var(--color-coral);
}
.faq-section {
  margin-bottom: 15px;
}
.faq-section strong {
  display: block;
  margin-bottom: 5px;
}
/* ======= ESTILOS RESPONSIVOS ======= */

/* Mobile Portrait (até 768px) */
@media (max-width: 768px) {
  /* Ajustes no header e navegação */
  .header .container {
    padding: 0 1rem;
  }
  #nav-desktop {
    display: none;
  }
  #nav-mobile {
    display: block;
  }
  .hamburger {
    display: flex;
  }
  #social-icons-desktop {
    display: none;
  }
  #social-icons-mobile {
    display: flex;
  }
  .theworldisours-content {
    align-self: end;
    margin-bottom: 4rem;
  }
  /* Ajustes no container do theworldisours */
  .theworldisours-item {
    height: 90vh;
    padding: 2rem 0;
  }
  /* Tipografia – redução dos tamanhos */
  .theworldisours-content h1 {
    font-size: 4rem;
    margin: 0rem;
  }
  .theworldisours-content h4 {
    font-size: 1.2rem;
  }
  .theworld-post-title {
    font-size: 2rem;
  }
  .theworldisours-content p {
    font-size: 1.25rem;
  }
  .book-now-white.btn {
    font-size: 1rem;
  }
  .container-book-now-btn {
    width: 100%;
    justify-content: center;
  }
  .theworld-post-content {
    padding: 1rem;
  }
  .theworld-post-content p {
    font-size: 1.1rem;
  }
  .theworld-post-content .horizontal {
    flex-direction: column;
    height: auto;
  }
  .theworld-post-content .container {
    padding: 0 0.8rem;
  }
  .theworld-post-content img {
    height: 350px;
    margin: 0rem;
  }
  .theworld-post-content .horizontal .horizontal-content-img {
    height: 350px;
    flex: 350px;
  }
  .theworld-post-content .horizontal img {
    height: 350px;
  }
  .theworld-post-content .container .horizontal {
    flex-direction: column;
  }
  .theworld-post-content .container .horizontal.reverse {
    flex-direction: column;
  }
  .theworld-post-content .horizontal p {
    width: 100%;
    text-align: left;
  }
  .theworld-post-content .horizontal.reverse p {
    width: 100%;
    text-align: left;
  }
  .theworld-post-content h2, .theworld-post-content h3 {
    font-size: 1.4rem;
    text-align: left;
    width: 100%;
  }
  .theworld-post-content .container .horizontal img {
    height: 350px;
  }
  .horizontal {
    flex-direction: column;
  }
  .horizontal-content p {
    text-align: center;
  }
  .general-information {
    padding: 1rem;
    gap: 1rem;
    flex-flow: column;
  }
  .general-information .title {
    display: flex;
  }
  .general-information h2 {
    font-size: 3rem;
    text-align: center;
  }
  .general-information .container {
    width: auto;
    margin: 0;
  }
  .general-information .container {
    flex-flow: column;
    gap: 0rem;
  }
  .itinerary {
    padding: 1rem 0rem;
  }
  .tab-content {
    width: 100%;
    padding: 0rem;
  }
  .tab-content-left {
    padding: 1rem;
  }
  .tab-content-right {
    padding: 1rem;
  }
  .tab-content {
    flex-flow: column;
  }
  .tab-content.active {
    flex-flow: column;
  }
  .tab-content img {
    width: calc(100% - 20px);
    height: 350px;
    margin: 0;
  }
  .itinerary h2 {
    font-size: 3rem;
  }
  .itinerary h4 {
    font-size: 1rem;
  }
  .itinerary h3 {
    width: 95%;
    font-size: 2rem;
  }
  .itinerary p {
    width: 90%;
    font-size: 1.1rem;
  }
  .itinerary ul {
    font-size: 1.1rem;
  }
  .trip-highlights .container {
    max-width: 100%;
    padding: 1rem;
    flex-direction: column;
    gap: 0rem;
  }
  .text-content h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0rem;
    text-align: left;
  }
  .highlights-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 1rem;
    padding-bottom: 10px;
    scrollbar-width: none; /* Esconde scrollbar no Firefox */
    -ms-overflow-style: none; /* Esconde scrollbar no IE e Edge */
  }
  .highlights-wrapper::-webkit-scrollbar {
    display: none; /* Esconde scrollbar no Chrome e Safari */
  }
  .highlights-grid {
    display: flex;
    flex-wrap: nowrap; /* Impede quebra de linha */
    gap: 1rem;
  }
  .highlight-box {
    flex: 0 0 auto;
    width: 300px; /* Define uma largura fixa para os itens */
    height: 400px;
  }
  .section-inclusions {
    padding: 1rem;
  }
  .section-inclusions h2 {
    margin: 0.5rem;
    font-size: 2.25rem;
  }
  .inclusion-box {
    width: auto;
  }
  .inclusion-box h3 {
    margin: 0rem;
  }
  .inclusion-box ul {
    padding-inline-start: 0rem;
  }
  .faq-container {
    width: auto;
    padding: 0rem;
    margin: 0rem 0.5rem;
  }
  .pricing {
    padding: 1rem;
  }
  .pricing .horizontal {
    gap: 0rem;
  }
  .pricing-box {
    margin: 1rem 0rem;
  }
  .pricing .horizontal.reverse {
    flex-direction: column-reverse;
  }
  .pricing-form h2 {
    font-size: 2.6rem;
    margin: 0rem; 
  }
  .pricing .horizontal.reverse p {
    text-align: left;
  }
  .pricing-form h3 {
    margin: 0rem;
  }
  p.highlight {
    font-size: 1.2rem;
  }
  .pricing .horizontal img {
    height: auto;
    width: calc(100% - 20px);
  }
  .pricing .horizontal .horizontal-content-img {
    padding: 1rem;
  }
  .theworldisours-content.final h1 {
    font-size: 3rem;
    width: 100%;
  }
  .theworld-post-content .horizontal.reverse {
    flex-direction: column-reverse;
  }
  .theworld-post-content h2 {
    font-size: 2.5rem;
  }
  .theworldisours-content {
    align-content: center;
    text-align: center;
  }
}

/* Tablet Landscape (768px a 1024px, orientação landscape) */
@media (max-width: 1024px)  and (orientation: landscape) {
  .tab-content img {
    height: 300px;
  }
  .inclusion-box {
    width: 100%;
  }
  .pricing .horizontal img {
    height: 300px;
    width: 92vw;
  }
}